# Use postgres/example user/password credentials
version: '3.9'

services:
  esphome:
    image: esphome/esphome
    volumes:
      - ./esp32/config:/config
      - /etc/localtime:/etc/localtime:ro
      - /dev/ttyUSB0:/dev/ttyUSB0
    privileged: true

  db:
    image: postgres
    shm_size: 128mb
    volumes:
      - "./database/data:/var/lib/postgresql/data"
      - "./database/db.sql:/docker-entrypoint-initdb.d/db.sql"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: example
      POSTGRES_DB: memoires-info

  adminer:
    image: adminer
    depends_on:
      - db

  postg-rest:
    image: postgrest/postgrest
    ports:
      - '3000:3000'
    volumes:
      - ./postgrest.conf:/etc/postgrest.conf
    depends_on:
      - db
    command: postgrest /etc/postgrest.conf

  php-fpm:
    image: php:8-fpm
    volumes:
      - ./login:/var/www/memoires-info/php
    depends_on:
      - db

  web:
    image: nginx:latest
    ports:
      - '80:80'
    volumes:
      - ./Interface/dist:/var/www/memoires-info/html
      - ./ngnix.conf:/etc/nginx/conf.d/default.conf
      - ./login:/var/www/memoires-info/php
    depends_on:
      - php-fpm
      - postg-rest
      - adminer
      - esphome

